.square_inner {
    width: 100%;
    height: 100%;
}

.square_outter{
    /* display: block; */
    position: relative;
    /* top: 0px;
    left:0px;
    right:0px;
    bottom: 0px;
    margin: auto; */
    height: 99vh;
    margin:0;
    background-image: url("https://images-assets.nasa.gov/image/PIA05546/PIA05546~orig.jpg");
    background-repeat: repeat;
}

#square_view {
    grid-area: square;
}

#tile_edit_view{
    grid-area: edit;
}

#tile_type_input{
    display: block;
}

#resource_input {
    display: block;
}

input.disabled{
    opacity: 0.5;
}

body {
    display: grid;
    grid-template-areas: 
    "square edit";
    grid-template-columns: 1fr 200px;
    margin: 0;
}
