.square_inner {
    display: grid;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform:  translateX(-50%) translateY(-50%) rotateX(45deg) rotateZ(-45deg);
    box-shadow: -15px 15px 0px rgba(255, 255, 255, 0.3);
}

.square_outter{
    /* display: block; */
    position: relative;
    /* top: 0px;
    left:0px;
    right:0px;
    bottom: 0px;
    margin: auto; */
    height: 100vh;
    background-image: url("https://images-assets.nasa.gov/image/PIA05546/PIA05546~orig.jpg");
    background-repeat: repeat;
}

.tile {
    border: 1px dashed black;
    width: 30px;
}
.tile:hover {
    border: 1px solid white;
}
.tile.focus{
border: 2px solid red;
}

#square_view {
    grid-area: square;
}

#tile_edit_view{
    grid-area: edit;
}

#tile_type_input{
    display: block;
}

#resource_input {
    display: block;
}

input.disabled{
    opacity: 0.5;
}

body {
    display: grid;
    grid-template-areas: 
    "square edit";
    grid-template-columns: 1fr 200px;
    margin: 0;
}
